<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>WannaAnime</title>
    <!--
      <link rel="shortcut icon" href="{{ url_for('static', filename='pfp.jpg') }}">
    -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  </head>
  <body>

    <h1> The submission has been successfully sent! Thanks for giving your feedback! </h1>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>